<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <!-- Навигационное меню -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
    <div class="container">
      <a class="navbar-brand" href="/">Образовательный сайт</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user"></i> Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-user"></i> Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Список курсов -->
  <div class="container mt-5">
    {{#if courses.length}}
      <h2>Ваши курсы:</h2>
      {{#each courses}}
        <div class="course-box">
          <h3>{{this.name}}</h3>
          <p>{{this.description}}</p>
        </div>
      {{/each}}
    {{else}}
      <h2>Вы не записаны ни на один курс</h2>
    {{/if}}
  </div>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
